
body{
	text-align: center;
}

.image-preview{
	margin-left: 18%;
	width:400px;
	min-height: 200px;
	border:2px solid grey;
	margin-top:15px;
	margin-bottom:25.3%;

	/* Default Text */
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color:#694d4d;
}

.image-preview__image{
	display:none;
	width:100%;
}

.out_img{
	margin-left: 18%;
	width:400px;
	min-height: 200px;
	border:2px solid grey;
	margin-top:50px;
	margin-bottom:30%;

	/* Default Text */
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color:#694d4d;
}
output_image{
	display:none;
	width:100%;
}