
body{
	text-align: center;
}
.work-area{

}
.image-preview{
	margin-left: 18%;
	width:400px;
	min-height: 200px;
	border:2px solid grey;
	margin-top:15px;

	/* Default Text */
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color:#694d4d;
}

.image-preview__image{
	display:none;
	width:100%;
}
.convert_button{
	margin-top:25px;
	text-decoration: none;
	color:black;
}

.out_img{
	margin-left: 18%;
	width:400px;
	min-height: 200px;
	border:2px solid grey;
	margin-top:50px;

	/* Default Text */
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color:#694d4d;
}
output_image{
	display:none;
	width:100%;
}