.image-preview{
	width:400px;
	min-height: 200px;
	border:2px solid grey;
	margin-top:15px;

	/* Default Text */
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color:#694d4d;
}