<!DOCTYPE html>
<html lang="en">
<head>
  <title>colortobnw</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class="container-fluid">
  <h1 style="text-align: center;">Hello World!</h1>
  <div class="row work-area">

    <div class="col-sm-6" style="background-color:lavender;">
    <!-- UPLOAD SECTION -->
    
      <form id="upload-form" action="{{ url_for('index') }}" method="POST", enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept="image/*">
        <input type="submit" value="Convert">
      </form>
      <div class="image-preview" id="iamgePreview">
        <img src="" alt="Input Image" class="image-preview__image">
        <span class="image-preview__default-text">Input Image</span>
      </div>
    </div>


    <div class="col-sm-6" style="background-color:lavenderblush;">
    <!-- OUTPUT SECTION -->
    <h1>Output Section</h1>
    </div>

  </div>
</div>

</body>
</html>
